ul.slider{
    position: relative;
    width: 100%;
    height: 300px;
    list-style: none;
  }
  .container{
    margin: auto;
    background-color: white;
    width: 80%;
    padding: 20px;
    border-radius: 5pt;
  }
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  .menu{
    text-align: center;
    margin: 20px;
  }
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #d6b75c;
    padding: 7px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 100%;
  }
